<%-include('header')-%>

    <div class="bg-image"
        style="background-image: url('https://www.decorilla.com/online-decorating/wp-content/uploads/2020/11/bright-and-modern-home-office-background-ideas.jpg'); height: 100vh;">
        <div class="p-5">

        </div>

        <div class="container">
            <div class="row mx-5 p-4">
                <div class="col-12 col-md-6">

                </div>
                <div class=" col-12 col-md-6 p-5 rounded bg-light">

                    <form action="/route/login" method="post">
                        <h3 class="mb-5">Log In</h3>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="email" value="email">

                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                        </div>
                        <br>
                        <% if(locals.logout){%>

                            <div class="alert alert-success text-center"><%=locals.logout%></div>
                            <% } %>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary w-50">Login</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <%-include('footer')-%>