<%-include('header')-%>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ps-4">HOME PAGE</a>
            <form class="d-flex">
               <a class="btn btn-outline-info" href="/route/logout">Log out</a>
            </form>
        </div>
    </nav>
</header>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-6">
            <img class="w-100 "
                src="https://img.freepik.com/free-photo/construction-warning-sign-icon-concept_53876-123765.jpg?w=740&t=st=1688361910~exp=1688362510~hmac=5773168ebed43ca7ef3402fd1bdd8548f8a0b827a7f499b870ad11266a991eca"></img>
        </div>
        <div class="col-md-6 p-4">
            <h3 class="text-light pt-4 text-center">Welcome Mithun</h3>
            <hr class="text-light">
            <h3 class="text-light pt-4 text-center">Site is under construction</h3>
            <p class="text-light text-center pt-4"> Please press Log out button in the navigation bar to Log out of
                the page safely</p>
        </div>
    </div>
</div>


<%-include('footer')-%>